#table {
    background-color: rgb(38, 38, 46);
    color: white;
    height: 2000px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#dice-row {
    width: 70%;
    margin: auto;
    margin-bottom: -20px;
}