h1 {font-size: 55px !important;}
h2 {font-size: 35px !important;}
h3 {font-size: 25px !important;}
h4 {font-size: 15px !important;}
body,html,#root { background-color: rgb(38, 38, 46); height: 150%; }